@font-face {
	font-family: 'Noto Kufi Arabic';
	font-style: normal;
	font-weight: 400;
	src: url(/upskillingapp/resources/fonts/NotoKufiArabic-Regular.ttf)
		format('truetype');
}

@font-face {
	font-family: 'Noto Kufi Arabic';
	font-style: normal;
	font-weight: 700;
	src: url(/upskillingapp/resources/fonts/NotoKufiArabic-Bold.ttf)
		format('truetype');
}

.ui-widget {
	font-size: 0.96em;
	font-family: 'Noto Kufi Arabic', serif;
}

.ui-widget-header {
	color: white;
	font-weight: bold;
}

.settingsButtonAR {
	padding-top: 100px;
	float: left;
	overflow: hidden;
}

.settingsButtonEN {
	padding-top: 100px;
	float: right;
	overflow: hidden;
}

.ui-panel-title {
	margin: 0.1em 0px 0.2em 0;
}

.ui-panel .ui-panel-footer {
	text-align: center;
	border: 1px solid #2c4359;
	background: #35414f
		url(/upskillingapp/javax.faces.resource/images/ui-bg_dots-small_35_35414f_2x2.png.xhtml?ln=primefaces-hot-sneaks)
		50% 50% repeat;
	color: #ffffff;
	font-weight: bold;
}

.ui-panel-no-border {
   border: none;
   padding-top: 0px
}

.ui-menubar {
    padding-top: 10px !important;
}

.ui-growl {
	right: 50%;
	margin-right: -150px;
}

.ui-menubar {
	padding-top: 35px;
}

.ui-menu-en {
	
}

.ui-menu-en .ui-menuitem {
	float: left !important;
}

.ui-menu-en .ui-menuitem-text {
	float: left !important;
}

.ui-menu-en .ui-menu-child {
	top: 25px;
	left: 0 !important;
	width: 20em !important;
}

.ui-menu-en .ui-menuitem-icon {
	float: left !important;
}

.ui-menu-ar {
	
}

.ui-menu-ar .ui-menuitem {
	float: right !important;
	margin: 5px;
}

.ui-menu-ar .ui-menuitem-text {
	float: right !important;
}

.ui-menu-ar .ui-menu-child {
	top: 25px;
	right: 0 !important;
	width: 20em !important;
}

.ui-menu-ar .ui-menuitem-icon {
	float: right !important;
}

.ui-rating-en {
	
}

.ui-rating-en .ui-rating {
	float: left !important;
}

.ui-rating-en .ui-rating-text {
	float: left !important;
}

.ui-rating-en .ui-rating-child {
	top: 25px;
	left: 0 !important;
	width: 20em !important;
}

.ui-rating-en .ui-rating-icon {
	float: left !important;
}

.ui-rating-ar {
	
}

.ui-rating-ar .ui-rating {
	float: right !important;
	margin: 5px;
}

.ui-rating-ar .ui-rating-text {
	float: right !important;
}

.ui-rating-ar .ui-rating-child {
	top: 25px;
	right: 0 !important;
	width: 20em !important;
}

.ui-rating-ar .ui-rating-icon {
	float: right !important;
}

.ui-button-text-only {
	margin: 10px;
}

.ui-ring-item {
	text-align: center;
	display: block;
	height: 90px;
}

.ui-ring {
	height: 300px;
}

.strtable {
	height: 200px;
	width: 100%;
	text-align: left;
}

.rowexpen {
	width: 300px;
}

.ui-carousel {
	text-align: left;
	width: 360px;
	margin-left: 450px;
}

.search {
	text-align: left;
	padding-bottom: 10px;
}